<div class="admin--dashboard-wrapper text-center mt-5">
  <div class="card border-warning mb-3 admin--dashboard">
    <h4 class="card-header">Admin Area</h4>
    <div class="card-body">
      <br>
      <!-- Season create -->
      <%- include('partials/link-button', {text: 'Add Season', link: '/create/season', type: 'primary'}); %>
      <br>
      <!-- Season edit -->
      <%- include('partials/link-button', {
              text: 'Edit Season', link: '/edit/season', type: 'dark border-warning'
      }) %>
      <hr class="w-100">
      <!-- Result add -->
      <%- include('partials/link-button', {
              text: 'Add Result', link: '/create/results', type: 'primary'
      }) %>
      <br>
      <!-- Result Edit -->
      <%- include('partials/link-button', {
              text: 'Edit Result', link: '/edit/results', type: 'dark border-warning'
      }) %>
      <hr class="w-100">
      <!-- Driver add -->
      <%- include('partials/link-button', {
              text: 'Add Driver', link: '/create/drivers', type: 'primary'
      }) %>
      <br>
      <!-- Driver edit -->
      <%- include('partials/link-button', {
              text: 'Edit Driver', link: '/edit/drivers', type: 'dark border-warning'
      }) %>
      <hr class="w-100">
      <!-- Event add -->
      <%- include('partials/link-button', {
              text: 'Add Event', link: '/create/events', type: 'primary'
      }) %>
      <br>
      <!-- Event edit -->
      <%- include('partials/link-button', {
              text: 'Edit Event', link: '/edit/events', type: 'dark border-warning'
      }) %>
      <br>
    </div>
  </div>
</div>