<div class="admin--dashboard-wrapper text-center mt-5">
  <div class="card border-warning mb-3 admin--dashboard">
    <h4 class="card-header">Admin Area</h4>
    <div class="card-body">
      <br>
      <!-- Season create -->
      <%- include('partials/link-button', {text: 'Add Season', link: 'https://google.com', type: 'info'}); %>
      <br>
      <!-- Season edit -->
      <%- include('partials/link-button', {
              text: 'Edit Season', link: 'https://google.com', type: 'secondary'
      }) %>
      <br>
      <!-- Result add -->
      <%- include('partials/link-button', {
              text: 'Add Result', link: 'a', type: 'info'
      }) %>
      <br>
      <!-- Result Edit -->
      <%- include('partials/link-button', {
              text: 'Edit Result', link: 'a', type: 'secondary'
      }) %>
      <br>
      <!-- Driver add -->
      <%- include('partials/link-button', {
              text: 'Add Result', link: 'a', type: 'info'
      }) %>
      <br>
      <!-- Driver edit -->
      <%- include('partials/link-button', {
              text: 'Edit Result', link: 'a', type: 'secondary'
      }) %>
      <br>
      <!-- Event add -->
      <%- include('partials/link-button', {
              text: 'Add Result', link: 'a', type: 'info'
      }) %>
      <br>
      <!-- Event edit -->
      <%- include('partials/link-button', {
              text: 'Edit Result', link: 'a', type: 'secondary'
      }) %>
      <br>
    </div>
  </div>
</div>