<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Result - <%= season.track %> (<%= season.doc.year %>S<%= season.doc.seasonNr %>)</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
</head>

<body class="text-center">
  <h1>New Result - <%= season.track %> (<%= season.doc.year %>S<%= season.doc.seasonNr %>)</h1>
  <br>
  <div id="initForm">
    <label>Number of Race and Quali participants:</label>
    <br>
    <input type="number" id="raceDrivers" placeholder="Race participants" />
    <br>
    <br>
    <input type="number" id="qualiDrivers" placeholder="Quali participants" />
    <br>
    <br>
    <button type="button" class="btn btn-primary" onclick="init()">New Result</button>
  </div>

  <div id="results" style="display: none;">
    <label for="fastestDriverInput">Fastest driver: </label>
    <select id="fastestDriverInput">
      <% for (let i = 0; i < season.doc.driverTeams.length; i++) { %>
      <option value="<%= season.doc.driverTeams[i].driver %>"><%= season.doc.driverTeams[i].driver %></option>
      <% } %>
    </select>
    <br>
    <br>
    <label for="racedate">Date of the race: </label>
    <input id="racedate" type="date">
    <br>
    <br>

    <style>
      .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      @media screen and (max-width: 660px) {
        .wrapper {
          flex-direction: column;
        }
      }
    </style>

    <div id="results" class="wrapper">
      <div id="raceResult" style="display: block; margin-right: 5%;">
        <h3>Race Result</h3>
        <br>
      </div>

      <div id="penalties" style="display: block; margin-right: 5%">
        <h3>Penalties</h3>
        <br>
      </div>

      <div id="qualiResult" style="display: block;">
        <h3>Quali Result</h3>
        <br>
      </div>

    </div>

    <button type="button" class="btn btn-primary" onclick="send()">Save</button>

  </div>



  <script>
    function init() {
      let raceDriverCount = document.getElementById("raceDrivers").value;
      let qualiDriverCount = document.getElementById("qualiDrivers").value;
      let raceResult = document.getElementById("raceResult");
      let qualiResult = document.getElementById("qualiResult");
      let penalties = document.getElementById("penalties");

      if (!raceDriverCount || !qualiDriverCount) {
        alert("Please enter a number of participants for both");
        return;
      } else {
        //generate race result input
        let raceResultContent = "";
        let qualiResultContent = "";
        //add inputs for final race classification
        for (let i = 0; i < parseInt(raceDriverCount); i++) {
          raceResultContent += `${i+1}: `;
          raceResultContent += `<select id="raceResult${i}">`;
          raceResultContent += `<option value="" selected disabled>Select Driver</option>`;
          raceResultContent += "<% for (let i = 0; i < season.doc.driverTeams.length; i++) { %> <option value='<%= season.doc.driverTeams[i].driver %>'><%= season.doc.driverTeams[i].driver %></option> <% } %>";
          raceResultContent += `</select>`;
          raceResultContent += `  DNF: `;
          raceResultContent += `<input id="driverDNF${i}" class="" type="checkbox" value="">`;
          raceResultContent += `<br>`;
          raceResultContent += `<br>`;
        }
        raceResult.innerHTML += raceResultContent;
        for (let i = 0; i < parseInt(qualiDriverCount); i++) {
          qualiResultContent += `${i+1}: `;
          qualiResultContent += `<select id="qualiResult${i}">`;
          qualiResultContent += `<option value="" selected disabled>Select Driver</option>`;
          qualiResultContent += "<% for (let i = 0; i < season.doc.driverTeams.length; i++) { %> <option value='<%= season.doc.driverTeams[i].driver %>'><%= season.doc.driverTeams[i].driver %></option> <% } %>";
          qualiResultContent += `</select>`;
          qualiResultContent += `<br>`;
          qualiResultContent += `<br>`;
        }
        qualiResult.innerHTML += qualiResultContent;

        //add inputs for penalties
        let penaltyContent = "";
        for (let i = 0; i < parseInt(raceDriverCount); i++) {
          penaltyContent += `Penalty ${i+1}: `;
          penaltyContent += `<select id="penalty${i}">`;
          penaltyContent += `<option value="" selected disabled>Select Driver</option>`;
          penaltyContent += "<% for (let i = 0; i < season.doc.driverTeams.length; i++) { %> <option value='<%= season.doc.driverTeams[i].driver %>'><%= season.doc.driverTeams[i].driver %></option> <% } %>";
          penaltyContent += `</select>`;
          penaltyContent += `  <input id="pen${i}" type="number" style="max-width: 3rem;">s`
          penaltyContent += `<br>`;
          penaltyContent += `<br>`;
        }
        penalties.innerHTML += penaltyContent;
        document.getElementById('initForm').style.display = "none";
        document.getElementById('results').style.display = "block";
      }
    }

    function send() {
      let raceResult = [];
      let qualiResult = [];
      let penalties = [];
      let raceDNF = [];

      for (let i = 0; i < parseInt(document.getElementById("raceDrivers").value); i++) {
        if (!document.getElementById(`raceResult${i}`).value) {
          alert("Please select a driver for all input fields");
          return;
        }
        raceResult.push(document.getElementById(`raceResult${i}`).value);
        raceDNF.push(document.getElementById(`driverDNF${i}`).checked);

        let penalty = {
          driver: document.getElementById(`penalty${i}`).value,
          penalty: document.getElementById(`pen${i}`).value
        }
        if (penalty.driver != '' && penalty.penalty != '') {
          penalties.push(penalty);
        }
      }
      for (let i = 0; i < parseInt(document.getElementById("qualiDrivers").value); i++) {
        if (!document.getElementById(`qualiResult${i}`).value) {
          alert("Please select a driver for all quali input fields");
          return;
        }
        qualiResult.push(document.getElementById(`qualiResult${i}`).value);
      }
      if (document.getElementById("racedate").value == '') {
        alert("Please enter a date");
        return;
      }
      let result = {
        event: '<%= season.track %>',
        raceResult: raceResult,
        qualiResult: qualiResult,
        penalties: penalties,
        fastestLap: document.getElementById("fastestDriverInput").value,
        dnf: raceDNF,
        heldAt: document.getElementById("racedate").value
      }
      //post result to current pathname
      fetch(window.location.pathname, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(result)
      }).then(function(response) {
        if (response.status == 200) {
          window.location.href = "/";
        } else {
          alert("Error saving result: " + response.status);
        }
      });
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>